<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: AGPL-3.0-or-later

Curate life's moments.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/vestige/AUTHORS.md)

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'vendor/toastui-editor.css' %}" />
  {% endblock %}
  <title>{% block title %}Vestige{% endblock %}</title>
  <link rel="icon" href="{% static 'vestige/favicon.svg' %}">
</head>
<body> 
  {% block scripts %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="{% static 'vendor/bundle-toastui-editor.js' %}"></script>
  {% endblock %}

  <main class="d-flex flex-nowrap vh-100">
    <div class="d-flex flex-column m-3">
      <a class="text-decoration-none mb-2" href="/">
        <img class="me-2" src="{% static 'vestige/favicon.svg' %}" width="53" height="51">
        <span class="fs-5 fw-semibold">Vestige</span>
      </a>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link" href="/view/">Latest</a></li>
        <li class="nav-item"><a class="nav-link" href="/view/?type=album">Albums</a></li>
        <li class="nav-item"><a class="nav-link" href="/view/?type=folder">Folders</a></li>
        <li class="nav-item"><a class="nav-link" href="/view/?type=people">People</a></li>
      </ul>
    </div>

    <div class="d-flex flex-grow-1 flex-column m-3">
      <div class="d-flex flex-row-reverse mb-2">
        <a class="" href="/logout">
          <img class="" alt="Logout" src="{% static 'vestige/logout.png' %}" width="51" height="51">
        </a>
      </div>
      <div class="d-flex flex-column overflow-auto">
        {% block content %} {% endblock %}
      </div>
    </div>
  </main>
</body>
</html>
