<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: AGPL-3.0-or-later

Curate life's moments.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/vestige/AUTHORS.md)

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

{% extends "vestige/base_auth.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}Vestige{% endblock %}
{% block content %}

{% if form %}
  <form method="post">
    {% csrf_token %}
    <div id="editorChoice" class="list-group d-none">
      {% for album in albums %}
      <a href="#" class="list-group-item list-group-item-action" data-vestige-id="{{ album.id }}" data-vestige-name="{{ album.title }}">Album\{{ album.title }}</a>
      {% endfor %}
      {% for person in people %}
      <a href="#" class="list-group-item list-group-item-action" data-vestige-id="{{ person.id }}" data-vestige-name="{{ person.title }}">Person\{{ person.title }}</a>
      {% endfor %}
    </div>
    <div class="row">
      <div id="editor"></div>
      <input name="photodesc" id="photodesc" type="hidden">
      <button id="update" type="submit" class="btn btn-primary mb-3" name="action" value="update">Update</button>
      <script>
        const editor = new Editor({
          el: document.querySelector('#editor'),
          height: '600px',
          initialEditType: 'markdown',
          previewStyle: 'vertical',
          initialValue: `{{ form.description }}`,
          usageStatistics: false
        });
        document.querySelector('#update').onclick = function(){
          document.querySelector('#photodesc').value = editor.getMarkdown();
        };
        editor.on('keyup', (editorType, ev) => {
          if (ev.key === '@') {
            const popup = document.getElementById('editorChoice').cloneNode(true);
            popup.classList.remove("d-none");
            popup.addEventListener('mousedown', (ev) => {
              const name = ev.target.dataset.vestigeName;
              const id = ev.target.dataset.vestigeId;
              const [start, end] = editor.getSelection();

              editor.replaceSelection(`[@${name}](${id})`, [start[0], start[1] - 1], end);
            });
            editor.addWidget(popup, 'top');
          }
        })
      </script>
    </div>
  </form>
{% endif %}

{% if feature %}
  <div class="row">
    <img class="img-fluid" alt="{{ feature.title }}" src="{% static 'photos/' %}{{  feature.path }}">
  </div>
  <div class="row">
    <p>
      {% firstof "primary" as color %}
      {% for backlink in feature.backlinks %}
        {% if backlink.type == 'album' %}
          {% firstof "secondary" as color %}
        {% elif backlink.type == 'people' %}
          {% firstof "success" as color %}
        {% elif backlink.type == 'folder' %}
          {% firstof "danger" as color %}
        {% endif %}
        <a href="/view/{{ backlink.id }}"><span class="badge rounded-pill text-bg-{{ color }}">{{ backlink.name }}</span></a>
      {% endfor %}
    </p>
  <div>
  <div class="row">
    <div id="viewerfeature"></div>
    <script>
      Editor.factory({
        el: document.querySelector('#viewerfeature'),
        viewer: true,
        height: 'auto',
        initialValue: `{{ feature.description }}`,
        usageStatistics: false
      });
    </script>
  </div>
{% else %}
  <form method="post">
    {% csrf_token %}

    <div class="modal fade" id="addModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add to</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="existing" class="form-label">Existing item</label>
              <select id="existing" name="existing" class="form-select" aria-label="Select existing album">
                {% if albums %}
                  <optgroup label="Albums">
                    {% for album in albums %}
                      <option value="{{ album.id }}">{{ album.title }}</option>
                    {% endfor %}
                  </optgroup>
                {% endif %}
                {% if people %}
                  <optgroup label="People">
                    {% for person in people %}
                      <option value="{{ person.id }}">{{ person.title }}</option>
                    {% endfor %}
                  </optgroup>
                {% endif %}
              </select>
            </div>
            <div class="mb-3">
              <label for="new" class="form-label">Create new</label>
              <input id="new" name="new" class="form-control" type="text" placeholder="Name" aria-label="default input example">
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioType" id="inlineCheckbox1" value="Album" checked>
              <label class="form-check-label" for="inlineCheckbox1">Album</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioType" id="inlineCheckbox2" value="Person">
              <label class="form-check-label" for="inlineCheckbox2">Person</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioType" id="inlineCheckbox3" value="Place">
              <label class="form-check-label" for="inlineCheckbox3">Place</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="radioType" id="inlineCheckbox4" value="Thing">
              <label class="form-check-label" for="inlineCheckbox4">Thing</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="submit" type="submit" class="btn btn-primary" name="action" value="add">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div id="pictures" class="d-flex flex-row flex-wrap">
        {% for photo in photos %}
            <div class="card" style="width: 18rem;">
              <a href="./{{ photo.id }}">
                {% if photo.thumbnail %}
                  <img class="card-img-top" alt="{{ photo.title }}" src="{% static photo.thumbnail %}">
                {% else %}
                  {{ photo.title }}
                {% endif %}
              </a>

              <p class="card-text">
                {% firstof "primary" as color %}
                {% for backlink in photo.backlinks %}
                  {% if backlink.type == 'album' %}
                    {% firstof "secondary" as color %}
                  {% elif backlink.type == 'people' %}
                    {% firstof "success" as color %}
                  {% elif backlink.type == 'folder' %}
                    {% firstof "danger" as color %}
                  {% endif %}
                  <a href="/view/{{ backlink.id }}"><span class="badge rounded-pill text-bg-{{ color }}">{{ backlink.name }}</span></a>
                {% endfor %}
              </p>
              <div id="viewer{{ forloop.counter }}"></div>
              <script>
                Editor.factory({
                  el: document.querySelector('#viewer{{ forloop.counter }}'),
                  viewer: true,
                  height: 'auto',
                  initialValue: `{{ photo.description }}`,
                  usageStatistics: false
                });
              </script>
              <div class="form-check">
                <input name="check{{ forloop.counter0 }}" class="form-check-input" type="checkbox" value="{{ photo.id }}" id="flexCheckDefault{{ forloop.counter0 }}">
                <label class="form-check-label" for="flexCheckDefault{{ forloop.counter0 }}">
                  Select
                </label>
              </div>
            </div>
        {% endfor %}
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast w-auto" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-body d-flex flex-column">
          <button id="toastClose" type="button" class="btn btn-secondary btn-sm my-2" data-bs-dismiss="toast">Close</button>
          <button type="submit" class="btn btn-primary btn-sm my-2" name="action" value="chat">Chat</button>
          <button type="button" class="btn btn-primary btn-sm my-2" data-bs-toggle="modal" data-bs-target="#addModal">Add to</button>
          <button type="submit" class="btn btn-danger btn-sm my-2" name="action" value="remove">Remove</button>
        </div>
      </div>
    </div>
  </form>

  <script>
    const toastTriggers = [].slice.call(document.querySelectorAll('#pictures .form-check-input'))
    const toastLiveExample = document.getElementById('liveToast')
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
    checkedCount = 0
    toastTriggers.forEach(function (element, index) {
      if(element.checked) {
        checkedCount++
        if(checkedCount == 1) {
          toastBootstrap.show()
        }
      }

      element.addEventListener('click', () => {
        if(element.checked) {
          checkedCount++
          if(checkedCount == 1) {
            toastBootstrap.show()
          }
        } else {
          checkedCount--
          if(checkedCount <= 0) {
            toastBootstrap.hide()
          }
        }
      })
    })

    const toastClose = document.getElementById('toastClose')
    toastClose.addEventListener('click', () => {
      toastTriggers.forEach(function (element, index) {
        element.checked = false
      })
      checkedCount = 0
    })
  </script>
{% endif %}

{% endblock %}
