<!--
SPDX-FileCopyrightText: 2023 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: AGPL-3.0-or-later

Curate life's moments.

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/vestige/AUTHORS.md)

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

{% extends "vestige/base_unauth.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}Register{% endblock %}
{% block content %}

<div class="container vh-100">
  <form class="container-sm mt-5" action="{% url 'vestige:register_user' %}" method="post" style="max-width: 330px;">
    <img class="mx-auto d-block img-fluid" src="{% static 'vestige/logo.png' %}" alt="" width="300" height="119">
    <h3 class="mb-3 fw-normal text-center">Create your account</h3>
    {% csrf_token %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <strong>Caution: </strong>this is a prototype, insecure and unreliable. Data is deleted regularly. Don't enter any private information.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <div class="form-group my-1">
      <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <button type="submit" class="w-100 mt-3 btn btn-lg btn-primary">Register</button>
  </form>
  <p class="text-center my-3">Already have an account? <a href="/login">Sign in</a></p>
  <p class="text-center my-3 text-muted">Open source - find us on <a href="https://gitlab.com/thegalagic/vestige">GitLab</a></p>
</div>
{% endblock %}
